################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SpecFlowCalculator/.vs/SpecFlowCalculator
/SpecFlowCalculator/SpecFlowCalculator/bin/Debug/net5.0
/SpecFlowCalculator/SpecFlowCalculator/obj
/SpecFlowCalculator/SpecFlowCalculator.Specs/bin/Debug/net5.0
/SpecFlowCalculator/SpecFlowCalculator.Specs/obj
